@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700'


@import "custom/reset"
@import "custom/fonts"
@import "custom/breakpoints"
@import "custom/mixins"
@import "custom/colors"
@import "libs/outdatedbrowser"


$bgmain: #191919
$defaultSize: 100%
$defaultText: 0


header
  background-color: $bgmain
  height: $defaultSize
  width: $defaultSize


h1
  color: #AB8E60
  font-size: 34px
  font-weight: 300
  text-align: center
  margin: $defaultText
  padding: $defaultText
  letter-spacing: 2px
  position: relative
  top: 130px
  margin: 0 auto

h2
  color: #F7F7F7
  font-size: 55px
  font-weight: 400
  text-transform: uppercase
  text-decoration: line-through
  text-align: center
  margin: $defaultText
  padding: $defaultText
  letter-spacing: 4px
  position: relative
  top: 150px
  margin: 0 auto

.title_box
  width: 500px
  height: 400px
  position: absolute
  left: 50%
  top: 50%
  margin: -200px 0 0 -250px
